* {
  margin: 0px;
  padding: 0px;
  line-height: 40px;
  font-family: verdana;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: white;
}

/* Header */
header {
  color: black;
}
header .inner_box {
  position: relative;
  margin: 0 auto;
  width: 1180px;
  height: 120px;
}
header .inner_box h1 {
  position: absolute;
}
header .inner_box ul {
  position: absolute;
}
header .inner_box .logo {
  left: 10px;
  bottom: 15px;
}
header .inner_box .utility {
  right: 30px;
  top: 20px;
}
header .inner_box .utility li {
  display: inline;
  padding: 0px 10px;
  font-size: 12px;
}
header .inner_box .utility a {
  color: darkgray;
}
header .inner_box .global {
  right: 0px;
  bottom: 0px;
}
header .inner_box .global li {
  display: inline;
  padding: 0px 40px;
}
header .inner_box .global a {
  color: black;
}
header .inner_box .global a:hover {
  color: #cccccc;
}

section {
  width: 1000px;
  margin: 120px auto;
  position: relative;
}
section .img1 {
  position: absolute;
  width: 700px;
  height: 400px;
  top: 0;
  background-image: url("../imgs/gallery_imgs/700x400.png");
  background-repeat: no-repeat;
  color: white;
}
section .img1 p {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 30px;
}
section .img2 {
  position: absolute;
  width: 290px;
  height: 190px;
  top: 0;
  background-image: url("../imgs/gallery_imgs/290x190.png");
  background-repeat: no-repeat;
  color: white;
  right: 0px;
}
section .img2 p {
  position: absolute;
  top: 50px;
  left: 10px;
  font-size: 20px;
}
section .img3 {
  position: absolute;
  width: 290px;
  height: 95px;
  top: 200px;
  background-image: url("../imgs/gallery_imgs/290x95-1.png");
  background-repeat: no-repeat;
  color: white;
  right: 0px;
}
section .img3 p {
  position: absolute;
  right: 10px;
  bottom: 20px;
  font-size: 20px;
}
section .img4 {
  position: absolute;
  width: 290px;
  height: 95px;
  top: 305px;
  background-image: url("../imgs/gallery_imgs/290x95-2.png");
  background-repeat: no-repeat;
  color: white;
  right: 0px;
}
section .img4 p {
  position: absolute;
}
section .img5 {
  position: absolute;
  width: 490px;
  height: 240px;
  top: 410px;
  background-image: url("../imgs/gallery_imgs/490x240-1.png");
  background-repeat: no-repeat;
  color: white;
}
section .img5 p {
  position: absolute;
  top: 160px;
  left: 95px;
  color: black;
  line-height: 17px;
}
section .img6 {
  position: absolute;
  width: 490px;
  height: 240px;
  top: 660px;
  background-image: url("../imgs/gallery_imgs/490x240-2.png");
  background-repeat: no-repeat;
  color: white;
}
section .img6 p {
  position: absolute;
  right: 20px;
  bottom: 30px;
  font-size: 40px;
  color: gold;
}
section .img7 {
  position: absolute;
  width: 500px;
  height: 490px;
  top: 410px;
  background-image: url("../imgs/gallery_imgs/500x490.png");
  background-repeat: no-repeat;
  color: white;
  right: 0px;
}
section .img7 p {
  position: absolute;
}
section .img8 {
  position: absolute;
  width: 1000px;
  height: 371px;
  top: 910px;
  background-image: url("../imgs/gallery_imgs/1000x371.png");
  background-repeat: no-repeat;
  color: white;
}
section .img8 p {
  position: absolute;
  font-size: 50px;
}
section .img9 {
  position: absolute;
  width: 1000px;
  height: 361px;
  top: 1291px;
  background-image: url("../imgs/gallery_imgs/1000x361.png");
  background-repeat: no-repeat;
  color: white;
}
section .img9 p {
  position: absolute;
  right: 30px;
  bottom: 40px;
  font-size: 20px;
}
section .img8 p {
  margin-top: 0px;
  width: 100%;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 4px 3px 0px black;
}
section .img9 p span {
  font-size: 30px;
}/*# sourceMappingURL=galleryStyle.css.map */