@use './main.scss' as m;

*{
    box-sizing: border-box;
    font-family: verdana;
}
a{
    text-decoration: none;
    color: black;
}

/* Header */
header{
    @include m.header-CSS();
}

@mixin gallery_imgs($w, $h, $img){
    width: $w;
    height: $h;
    background-image: url($img);
}
@mixin center(){ // 수직 수평 중앙 정렬
    text-align: center;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
}

section{
    width: 1000px; height: 1652px;
    margin: 120px auto;
    position: relative;
    color: white;

    article{
        position: absolute;
        background-repeat: no-repeat;
        p{position: absolute}
    }
    .img1-1{
        @include gallery_imgs(700px, 400px, '../700x400.png');
        p{right: 10px; bottom: 10px; font-size: 30px;}
    }
    .img1-2{
        @include gallery_imgs(290px, 190px, '../290x190.png');
        right: 0px;
        p{top: 50px; left: 10px; font-size: 20px;}
    }
    .img1-3{
        @include gallery_imgs(290px, 95px, '../290x95-1.png');
        top: 200px; right: 0px;
        p{right: 10px; bottom: 20px; font-size: 20px;}
    }
    .img1-4{
        @include gallery_imgs(290px, 95px, '../290x95-2.png');
        top: 305px; right: 0;
    }
    .img2-1{
        @include gallery_imgs(490px, 240px, '../490x240-1.png');
        top: 410px;
        p{top: 160px; left: 95px; line-height: 17px; color: black;}
    }
    .img2-2{
        @include gallery_imgs(490px, 240px, '../490x240-2.png');
        top: 660px;
        p{right: 20px; bottom: 30px; color: gold; font-size: 40px;}
    }
    .img2-3{
        @include gallery_imgs(500px, 490px, '../500x490.png');
        right: 0px; top: 410px;
    }
    .img3{
        @include gallery_imgs(1000px, 371px, '../1000x371.png');
        top: 910px;
        p{
            @include center();
            width: 620px;
            font-size: 50px;
            text-shadow: 4px 3px 0px black;
        }
    }
    .img4{
        @include gallery_imgs(1000px, 361px, '../1000x361.png');
        top: 1291px;
        p{
            right: 30px; bottom: 40px; 
            font-size: 20px;
            span{font-size: 30px;}
        }
    }
}