// defaults
$default_line_height: 40px;
$default_fontStyle: verdana;
$default_box_sizing: border-box;
$default_margin: 0px;
$default_padding: 0px;
$default_a_color: black;

// header
$header_inner_width: 1180px;
$header_inner_height: 120px;
$header_logo_offset_x: 10px;
$header_logo_offset_y: 15px;

$header_utility_padding_x: 10px;
$header_utility_offset_x: 30px;
$header_utility_offset_y: 20px;
$header_utility_font_size: 12px;

$header_global_offset_x: 0px;
$header_global_offset_y: 0px;
$header_global_padding_x: 40px;

// main img
$main_text_color: white;
$main_text_title_font_size: 80px;
$main_text_font_size: 25px;
$main_text_width: 800px;
$main_text_height: 300px;

// article(recent news)
$news_title_margin_y: 25px;
$news_width: 1180px;
$news_article_gap: 32.5px;
$news_article_height: 450px;

// footer
$footer_height: 150px;
$footer_inner_width: 1000px;
$footer_top_space: 50px;
$footer_font_color: rgba(160, 160, 160, 0.788);
$footer_bc_color: rgb(34, 0, 58);

$footer_inform_padding_x: 5px;
$footer_link_font_size: 13px;
$footer_link_offset_x: 0px;
$footer_link_offset_y: 0px;

// gallery
$img_sources: (
    (700px, 400px, '../imgs/gallery_imgs/700x400.png'),
    (290px, 190px, '../imgs/gallery_imgs/290x190.png'),
    (290px, 95px, '../imgs/gallery_imgs/290x95-1.png'),
    (290px, 95px, '../imgs/gallery_imgs/290x95-2.png'),
    (490px, 240px, '../imgs/gallery_imgs/490x240-1.png'),
    (490px, 240px, '../imgs/gallery_imgs/490x240-2.png'),
    (500px, 490px, '../imgs/gallery_imgs/500x490.png'),
    (1000px, 371px, '../imgs/gallery_imgs/1000x371.png'),
    (1000px, 361px, '../imgs/gallery_imgs/1000x361.png')
);
$gallery_imgs_gap: 10px;
$gallery_imgs_height: (400px, 190px, 95px, 95px, 240px, 240px, 490px, 371px, 361px); // 각 img들의 height 값