@use './modules/mixins' as mixin;
@use './modules/constants' as cons;
@use "sass:list";
@use "sass:map";

*{
    margin: cons.$default_margin; padding: cons.$default_padding;
    line-height: cons.$default_line_height;
    font-family: cons.$default_fontStyle;
    box-sizing: cons.$default_box_sizing;
}
a{
    text-decoration: none;
    color: black;
}

/* Header */
header{
    @include mixin.header-CSS;
}

// gallery Imgs
section{
    width: cons.$gallery_section_width;
    margin: cons.$gallery_section_margin_y auto;
    position: relative;

    article{
        p{position: absolute}
    }

    // gallery img들의 top값들 계산 및 img property 설정
    $imgs_top: ();
    @for $i from 1 through list.length(cons.$img_sources){
        @if $i == 1 or $i == 2{
            $imgs_top: list.append($imgs_top, 0);
        }
        @else if $i == 7{
            $imgs_top: list.append($imgs_top, list.nth($imgs_top, $i - 3) + list.nth(cons.$gallery_imgs_height, $i - 3) + cons.$gallery_imgs_gap);
        }
        @else{
            $imgs_top: list.append($imgs_top, list.nth($imgs_top, $i - 1) + list.nth(cons.$gallery_imgs_height, $i - 1) + cons.$gallery_imgs_gap);
        }

        $item: list.nth(cons.$img_sources, $i);
        $w: list.nth($item, 1);
        $h: list.nth($item, 2);
        $path: list.nth($item, 3);
        $top: list.nth($imgs_top, $i);
        .img#{$i}{
            @include mixin.gallery-imgs($w, $h, $path, $top, $i);
        }
    }

    .img1 {p {@include mixin.img-text-style(1);}}
    .img2 {p {@include mixin.img-text-style(2);}}
    .img3 {p {@include mixin.img-text-style(3);}}
    .img5 {p {@include mixin.img-text-style(5);}}
    .img6 {p {@include mixin.img-text-style(6);}}
    .img8 {
        p {
            margin-top: cons.$img8_p_margin_top;
            width: cons.$img8_p_width;
            @include mixin.center();
            @include mixin.img-text-style(8);
            text-shadow: cons.$img8_p_text_shadow_x
                        cons.$img8_p_text_shadow_y
                        cons.$img8_p_text_shadow_blur
                        cons.$img8_p_text_shadow_color;
        }
    }
    .img9 {
        p {
            @include mixin.img-text-style(9);
            span {font-size: cons.$img9_p_span_font_size;}
        }
    }
}