@use './modules/mixins' as mixin;
@use './modules/constants' as cons;
@use "sass:list";
@use "sass:map";

*{
    @include mixin.default-setting;
}


/* Header */
header{@include mixin.header-styles;}

// // gallery Imgs
section{
    width: cons.$gallery-section-width;
    margin: cons.$gallery-section-margin-y auto;
    position: relative;

    // gallery img들의 top값들 계산 및 img property 설정
    $imgs-top: ();
    @for $i from 1 through list.length(cons.$gallery-img-sources){
        @if $i == 1 or $i == 2{
            $imgs-top: list.append($imgs-top, 0);
        }
        @else if $i == 7{
            $imgs-top: list.append($imgs-top, list.nth($imgs-top, $i - 3) + list.nth(cons.$gallery-imgs-height, $i - 3) + cons.$gallery-imgs-gap);
        }
        @else{
            $imgs-top: list.append($imgs-top, list.nth($imgs-top, $i - 1) + list.nth(cons.$gallery-imgs-height, $i - 1) + cons.$gallery-imgs-gap);
        }

        $item: list.nth(cons.$gallery-img-sources, $i);
        $w: list.nth($item, 1);
        $h: list.nth($item, 2);
        $path: list.nth($item, 3);
        $top: list.nth($imgs-top, $i);
        .img#{$i}{
            @include mixin.gallery-imgs($w, $h, $path, $top, $i);
            p {@include mixin.img-text-style($i);}
        }
    }

    .img8{
        p{
            margin-top: cons.$gallery-img8-p-margin-top;
            width: cons.$gallery-img8-p-width;
            @include mixin.center();
            text-shadow: cons.$gallery-img8-p-text-shadow-x
                cons.$gallery-img8-p-text-shadow-y
                cons.$gallery-img8-p-text-shadow-blur
                cons.$gallery-img8-p-text-shadow-color;
        }
    }
    .img9 {
        p {span {font-size: cons.$gallery-img9-p-span-font-size;}}
    }
}