@use './modules/mixins' as mixin;
@use './modules/constants' as cons;
@use "sass:list";


*{
    margin: cons.$default_margin; padding: cons.$default_padding;
    line-height: cons.$default_line_height;
    font-family: cons.$default_fontStyle;
    box-sizing: cons.$default_box_sizing;
}
a{
    text-decoration: none;
    color: black;
}

/* Header */
header{
    @include mixin.header-CSS;
}

// gallery Imgs
section{
    width: 1000px; height: 1652px;
    margin: 120px auto;
    position: relative;
    color: white;

    article{
        position: absolute;
        background-repeat: no-repeat;
        p{position: absolute}
    }

    // gallery img들의 top값들 계산 및 img property 설정
    $imgs_top: ();
    @for $i from 1 through list.length(cons.$img_sources){
        @if $i == 1 or $i == 2{
            $imgs_top: list.append($imgs_top, 0);
        }
        @else if $i == 7{
            $imgs_top: list.append($imgs_top, list.nth($imgs_top, $i - 3) + list.nth(cons.$gallery_imgs_height, $i - 3) + cons.$gallery_imgs_gap);
        }
        @else{
            $imgs_top: list.append($imgs_top, list.nth($imgs_top, $i - 1) + list.nth(cons.$gallery_imgs_height, $i - 1) + cons.$gallery_imgs_gap);
        }

        $item: list.nth(cons.$img_sources, $i);
        $w: list.nth($item, 1);
        $h: list.nth($item, 2);
        $path: list.nth($item, 3);
        $top: list.nth($imgs_top, $i);
        .img#{$i}{
            @include mixin.gallery_imgs($w, $h, $path, $top, $i);
        }
    }

    .img1 {
        p {
            right: cons.$img1-p-right;
            bottom: cons.$img1-p-bottom;
            font-size: cons.$img1-p-font-size;
        }
    }
    .img2 {
        p {
            top: cons.$img2-p-top;
            left: cons.$img2-p-left;
            font-size: cons.$img2-p-font-size;
        }
    }
    .img3 {
        p {
            right: cons.$img3-p-right;
            bottom: cons.$img3-p-bottom;
            font-size: cons.$img3-p-font-size;
        }
    }
    .img5 {
        p {
            top: cons.$img5-p-top;
            left: cons.$img5-p-left;
            line-height: cons.$img5-p-line-height;
            color: cons.$img5-p-color;
        }
    }
    .img6 {
        p {
            right: cons.$img6-p-right;
            bottom: cons.$img6-p-bottom;
            color: cons.$img6-p-color;
            font-size: cons.$img6-p-font-size;
        }
    }
    .img8 {
        p {
            margin-top: cons.$img8-p-margin-top;
            width: cons.$img8-p-width;
            @include mixin.center();
            font-size: cons.$img8-p-font-size;
            text-shadow: cons.$img8-p-text-shadow-x
                        cons.$img8-p-text-shadow-y
                        cons.$img8-p-text-shadow-blur
                        cons.$img8-p-text-shadow-color;
        }
    }
    .img9 {
        p {
            right: cons.$img9-p-right;
            bottom: cons.$img9-p-bottom;
            font-size: cons.$img9-p-font-size;
            span {
                font-size: cons.$img9-p-span-font-size;
            }
        }
    }
}