*{
    margin: 0px; padding: 0px;
    line-height: 40px;
    font-family: verdana;
}
ul {
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}

/* Header */
header{
    position: fixed; 
    top: 0px;
    margin: auto;
    width: 100%;
    height: 120px; 
    overflow: hidden;
    background-color: white;
    z-index: 1;
}
header .inner_box{
    position: relative;
    margin: auto;
    width: 1180px; height: 120px;
}
header .inner_box .logo{
    position: absolute;
    left: 10px; bottom: 15px;
}
header .inner_box .utility{
    position: absolute;
    right: 30px; top: 20px;
}
header .inner_box .utility li{
    display: inline; padding: 0px 10px;
    font-size: 12px;
}
header .utility a{
    color: darkgray;
}
header .inner_box .global{
    position: absolute; 
    bottom: 0px; right: 0px;
}
header .inner_box .global li{
    display: inline;
    margin: 0px 40px;
}
header .global a:hover{
    color: lightgray;
}

img{
    display: block;
    margin-top: 10px;
}
section{
    width: 1000px; height: 1652px;
    margin: auto;
    position: relative; top: 120px;
}
section article:nth-child(1), section article:nth-child(4){
    margin-right: 10px;
}
section article{
    position: relative;
    float: left;
}
section article ul li{
    position: relative;
}
div.christmas{
    position: absolute;
    right: 10px; bottom: 10px;
    font-size: 30px; color: white;
}
div.frozen{
    position: absolute;
    top: 50px; left: 10px;
    font-size: 20px; color: white;
}
div.present{
    position: absolute;
    right: 10px; bottom: 20px;
    font-size: 20px; color: white;
}
div.text4-1{
    position: absolute;
    line-height: 17px;
    width: 300px;
    top: 160px; left: 95px;
}
div.text4-2{
    position: absolute;
    font-size: 40px; color: gold;
    right: 20px; bottom: 30px;
}
div.text6{
    position: absolute;
    width: 620px; height: 50px;
    font-size: 50px; color: white;
    text-shadow: 4px 3px 0px black;
    top: 160.5px; left: 190px;
}
div.article7_inner{
    width: 450px; height: 150px;
    position: absolute;
    right: 30px; bottom: 40px;
    font-size: 20px; color: white;
}