@use './modules/mixins' as mixin;
@use './modules/constants' as cons;
@use 'sass:math';
@use 'sass:color';


*{
    margin: cons.$default_margin; padding: cons.$default_padding;
    line-height: cons.$default_line_height;
    font-family: cons.$default_fontStyle;
    box-sizing: cons.$default_box_sizing;
}
ul {
    list-style-type: none;
}
a{
    text-decoration: cons.$default_text_decoration;
    color: cons.$default_font_color;
}
body{
    background-color: cons.$default_background_color;
}

/* Header */
header{
    @include mixin.header-CSS;
}

/* Main Image */
#main_Img{
    background-image: url('../imgs/index_imgs/bg_main.png');
    width: 100%;
    overflow: hidden;
    .inner_text{
        width: cons.$main_text_width; height: cons.$main_text_height;
        margin: 150px auto;
        font-size: cons.$main_text_font_size;
        color: cons.$main_text_color;
        
        span{font-size: cons.$main_text_title_font_size;}
    }
}


/* 4 article */
#article_title{
    display: block;
    text-align: center;
    margin: cons.$news_title_margin_y auto;
    color: cons.$default_font_color
}


$news_article_width: math.div(cons.$news_width, 4) - (cons.$news_article_gap*2);
section{
    width: cons.$news_width;
    margin: 0 auto;
    color: cons.$default_font_color;
    article{
        width: $news_article_width; 
        height: cons.$news_article_height;
        margin: 0px cons.$news_article_gap;
        float: left;
        line-height: 25px;
    }
}


/* footer*/
$footer_font_color_hover: color.adjust(cons.$footer_font_color, $lightness: -20%);
footer{
    @include mixin.footer-links;
}