@use '../constants' as cons;
@use 'sass:color';

@mixin links{
    $footer-font-color-hover: color.adjust(cons.$footer-font-color, $lightness: -20%);
    width: 100%; height: cons.$footer-height;
    overflow: hidden;
    background-color: cons.$footer-bc-color;
    color: cons.$footer-font-color;
    .inner_box{
        position: relative;
        width: cons.$footer-inner-width; 
        margin: cons.$footer-top-space auto;
        ul{
            position: absolute;
            right: cons.$footer-link-offset-x; 
            top: cons.$footer-link-offset-y;
            li{
                font-size: cons.$footer-link-font-size;
                display: inline-block;
                padding: 0px cons.$footer-inform-padding-x;
                a{color: cons.$footer-font_color;}
                a:hover{color: $footer-font-color-hover;}
            }
        }
    }
}