@use '../constants' as cons;
@use 'sass:color';

@mixin styles{
    $header-global-font-color: cons.$default-font-color;
    $header-global-font-color-hover: color.adjust($header-global-font-color, $lightness: 80%);

    color: cons.$default-font-color;
    .inner_box{
        position: relative;
        margin: 0 auto;
        width: cons.$header-inner-width; 
        height: cons.$header-inner-height;
        h1{position: absolute;}
        ul{position: absolute;}

        .logo{left: cons.$header-logo-offset-x; bottom: cons.$header-logo-offset-y;}

        .utility{
            right: cons.$header-utility-offset-x; 
            top: cons.$header-utility-offset-y;
            li{
                display: inline;
                padding: 0px cons.$header-utility-padding-x;
                font-size: cons.$header-utility-font-size;
            }
            a{color: darkgray;}
        }

        .global{
            right: cons.$header-global-offset-x;
            bottom: cons.$header-global-offset-y; 
            li{
                display: inline;
                padding: 0px cons.$header-global-padding-x;
            }
            a{color: $header-global-font-color;}
            a:hover{color: $header-global-font-color-hover;}
            
        }
    }
}