@use 'sass:color';
@use '../gallery_constants' as cons;
@use "sass:list";
@use "sass:map";



@mixin gallery-imgs($w, $h, $img, $top, $index){
    position: absolute;
    width: $w;
    height: $h;
    top: $top;
    background-image: url($img);
    background-repeat: no-repeat;
    color: white;
    @if list.index(cons.$right_side_imgs, $index){ // 오른쪽에 위치해야 하는 이미지들
        right: 0px;
    }
}
@mixin center(){ // 수직 수평 중앙 정렬
    text-align: center;
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin img-text-style($idx){
    position: absolute;
    $style: map.get(cons.$img_text_style_map, $idx);
    @if map.has-key($style, top)        { top: map.get($style, top); }
    @if map.has-key($style, left)       { left: map.get($style, left); }
    @if map.has-key($style, right)      { right: map.get($style, right); }
    @if map.has-key($style, bottom)     { bottom: map.get($style, bottom); }
    @if map.has-key($style, font-size)  { font-size: map.get($style, font-size); }
    @if map.has-key($style, color)      {color: map.get($style, color);}
    @if map.has-key($style, line-height){line-height: map.get($style, line-height);}
}