// defaults
$default_background_color: white;
$default_font_color: black;

$default_line_height: 40px;
$default_fontStyle: verdana;
$default_box_sizing: border-box;
$default_margin: 0px;
$default_padding: 0px;
$default_text_decoration: none;

// main img
$main_text_color: white;
$main_text_title_font_size: 80px;
$main_text_font_size: 25px;
$main_text_width: 800px;
$main_text_height: 300px;

// article(recent news)
$news_title_margin_y: 25px;
$news_width: 1180px;
$news_article_gap: 32.5px;
$news_article_height: 450px;

