$default_background_color: white;
$default_font_color: black;

$default_line_height: 40px;
$default_fontStyle: verdana;
$default_box_sizing: border-box;
$default_margin: 0px;
$default_padding: 0px;
$default_text_decoration: none;