$height: 150px;
$inner_width: 1000px;

$top_space: 50px;
$font_color: rgba(160, 160, 160, 0.788);
$bc_color: rgb(34, 0, 58);

$inform_padding_x: 5px;
$link_font_size: 13px;
$link_offset_x: 0px;
$link_offset_y: 0px;