$inner-width: 1180px;
$inner-height: 120px;
$logo-offset-x: 10px;
$logo-offset-y: 15px;

$utility-padding-x: 10px;
$utility-offset-x: 30px;
$utility-offset-y: 20px;
$utility-font-size: 12px;

$global-offset-x: 0px;
$global-offset-y: 0px;
$global-padding-x: 40px;