// main img
$text-color: white;
$text-title-font-size: 80px;
$text-font-size: 25px;
$text-width: 800px;
$text-height: 300px;

// article(recent news)
$news-title-margin_y: 25px;
$news-width: 1180px;
$news-article-gap: 32.5px;
$news-article-height: 450px;